/* YouTube Playback Speed Controls Extension Styles */
/* Speed button specific styles */
.ytp-speed-button {
    width: 66px !important;
    vertical-align: top !important;
    display: inline-block !important;
    text-align: center;
    text-align: -webkit-center;
}

.ytp-speed-icon-container {
    width: 49px;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    vertical-align: top !important;
}

.ytp-speed-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.ytp-speed-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
}

.ytp-speed-button .ytp-menuitem-icon{
    padding: 0 !important;
}